#calendar-container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 1rem;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .calendar-nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
  }
  
  .calendar-nav button {
    background-color: #00bcd4;
    color: #ffffff;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1.6rem;
  }
  
  .calendar-nav button:hover {
    background-color: #008ba3;
  }
  
  #calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 0.5rem;
  }
  
  .calendar-header {
    font-weight: bold;
    background-color: #eeeeee;
    padding: 0.5rem;
  }
  
  .day {
    background-color: #ffffff;
    padding: 1rem;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
  }
  
  .event {
    background-color: #ffeb3b;
  }
  
  .day-tooltip {
    visibility: hidden;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 0.5rem;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    font-size: 1.4rem;
  }
  
  .day:hover .day-tooltip {
    visibility: visible;
  }
  
  #currentMonth {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  